*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.container .details-box{
    /* border: 1px solid red; */
    padding: 20px;
    width: 350px;
    font-size: 1.2em;
    font-family: sans-serif;
}

.st{
    margin-bottom: 20px;
}
 
.st span{
    font-size: 0.8em;
}

.details-box input{
    width: 100%;
    margin-bottom:20px ;
    margin-top: 15px;
    height:25px;
    padding: 10px;
    font-size: 18px;
}

.details-box .but{
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-box button{
    padding: 0.7em 7em;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.output{
    /* border: 1px solid red; */
    /* width: 300px;
    height: 300px; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.output .oo{
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    padding: 20px 20px 20px 0px
}